.comentarios{
    background-color:$gris ;
    font-size: 2.4rem;
    padding: 2rem;
    color: $negro;
    border-radius: 2rem;

    blockqoute{
        padding-left: 5rem;
        position: relative;

        &::before{
            content: '';
            width: 6rem;
            height: 8rem;
            display: block;
            position: absolute;
            
        }
    }
    p{
        color:red;
    }
}